<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error ;)</title>
</head>
<body>
<center>
    <h2 style="color: red; font-size: 52px;">Warning</h2>
    <img src="https://t3.ftcdn.net/jpg/01/19/96/36/360_F_119963613_sArDd9upsINdBDbkvLGwGacHCVi9rWya.jpg" height="40%">
    <p><a href="/book/frontend/login.html" style="text-underline: none; font-size:22px; text-decoration: none; color: cornflowerblue">Back to Login</a></p>
    <h1 style="color: red; font-size: 32px;">Something Wrong !!!!</h1>
</center>
</body>
</html>
